div{
    position: relative;

    img {
        width: 100%;
    }

    .heroTxt {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: #f4c22d;
        color: #615b5b;
        font-size: 2rem;
        padding: 1rem;
        border-radius: 15px;
        border: 5px solid white;
    }
}
