footer {
    margin-top: 1rem;
    display: flex;
    background-color: white;
    justify-content: space-around;
    align-items: center;
    div {
        height: 15vh;
        
        img {

        height: 100%;
        }
    }
    
}